---

---
<div class="container">
	<h1>I'm Eric Almendral</h1>
	<p>Software Developer</p>

	<hr />

	<div>
		<p class="desc">Click links to view more details.</p>
	</div>


	<div>
		<h3>Work</h3>
		<ul>
			<li><a href="https://tinyurl.com/bebcd8t4" target="_blank">Resume</a></li>
			<li><a href="https://www.linkedin.com/in/eralmendral" target="_blank">Linkedin</a></li>
			<li><a href="https://github.com/eralmendral" target="_blank">Github</a></li>	
		</ul>
	</div>
	<hr />
	<div>
		<h3>Devs</h3>
		<ul>
			<li><a href="https://www.hackerrank.com/profile/eralmendral" target="_blank">HackerRank</a></li>
			<li><a href="https://leetcode.com/u/eralmendral" target="_blank">LeetCode</a></li>
			<li><a href="https://roadmap.sh/u/eralmendral" target="_blank">Roadmap</a></li>	
			<li><a href="https://www.w3profile.com/eralmendral" target="_blank">W3Schools</a></li>	
			<li><a href="https://stackoverflow.com/users/7627703/eric-almendral" target="_blank">Stackoverflow</a></li>	
			<li><a href="https://www.boot.dev/u/toneeh" target="_blank">Boot.dev</a></li>	
			<li><a href="https://hashnode.com/@eralmendral" target="_blank">Hashnode</a></li>	
		</ul>
	</div>

	<hr />
	<div>
		<h3>Articles</h3>
		<ul>
			<li><a href="https://app.daily.dev/eralmendral" target="_blank">DailyDev</a></li>	
			<li><a href="https://dev.to/eralmendral" target="_blank">Dev.to</a></li>	
			<li><a href="https://medium.com/@eralmendral1" target="_blank">Medium</a></li>	
		</ul>
	</div>
	<hr />

	<div>
		<h3>Socials</h3>
		<ul>
			<li><a href="https://www.reddit.com/user/eralmendral" target="_blank">Reddit</a></li>
			<li><a href="https://open.spotify.com/user/31mguxdeosjucppzutfnmxmwwk3a?si=475f6dea82de44df" target="_blank">Spotify</a></li>
			<li><a href="https://www.instagram.com/eralmendral1/" target="_blank">Instagram</a></li>
			<li><a href="https://www.threads.net/@eralmendral1" target="_blank">Threads</a></li>	
			<li><a href="https://x.com/eralmendral1" target="_blank">X</a></li>
			<li><a href="https://mastodon.social/@eralmendral" target="_blank">Mastodon</a></li>
		</ul>
	</div>
	
	<hr />
	
	<div>
		<h3>Certificates</h3>
		<ul>
			<li><a href="https://tinyurl.com/4epxa9a4" target="_blank">Full Stack Engineer Certificate</a></li>
		</ul>
	</div>
</div>


<style>

body {
	background: #090b0f;
	color: #806e17;
	font-weight: 500 !important;
}

hr {
	border: 1px solid #1c1710;
}

.desc {
	color: #fff;
	font-weight: 600;
}


.container {
	padding: 16px;
}

a {
	text-decoration: underline;
	color: #d5cfc3;
}

h1, p {	
	margin: 0;
	padding: 0;
	color: rgb(185, 158, 24);
}

ul {
	list-style-type: square;
	padding: 0;
}

li {
	margin: 12px;
}
</style>